@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #060c16;
  color: #ffffffa9;
}

input,
textarea {
  background: #000;
  outline: none;
  border: 0.1px solid rgba(255, 255, 255, 0.082);
  color: #ffffffa9;
}

::placeholder {
  color: #ffffffa9;
}

.MJX-TEX {
  font-family: monospace !important;
  font-size: 16px !important;
}
.TEX-I {
  font-family: monospace !important;
  font-size: 16px !important;
  margin-left: 2px !important;
}

mjx-container [size="s"] {
  font-size: 74.7% !important;
  margin-left: 2.5px !important;
}

mjx-c {
  margin-right: 2px !important;
}
